<?xml version="1.0" encoding="ISO-8859-1"?>
<launch>
  <arg name="device" default="0" />

  <node pkg="image_publisher" type="image_publisher"
    name="image_pub"
    args="$(find vimjay)/data/clouds.png"
    if="false" >
    <param name="publish_rate" value="5.0"/>
  </node>

  <node name="image_source" pkg="usb_cam" type="usb_cam_node"
      output="screen">
    <param name="image_width" value="320"/>
    <param name="image_height" value="240"/>
    <param name="framerate" value="30"/>
    <param name="video_device" value="/dev/video$(arg device)" />
    <!--param name="pixel_format" value="mjpeg" /-->
    <param name="pixel_format" value="yuyv"/>
  </node>

  <group ns="frei0r0">
    <include file="$(find frei0r_image)/launch/single.launch" >
      <arg name="image_in0" default="/image_source/image_raw" />
      <arg name="image_in1" default="/frei0r2/image_out" />
      <arg name="image_in2" default="/frei0r1/image_out" />
      <arg name="image_out" default="image_out" />
    </include>
  </group>
  <group ns="frei0r1">
    <include file="$(find frei0r_image)/launch/single.launch" >
      <arg name="image_in0" default="/frei0r0/image_out" />
      <arg name="image_in1" default="/frei0r2/image_out" />
      <arg name="image_in2" default="image_in2" />
      <arg name="image_out" default="image_out" />
    </include>
  </group>
  <group ns="frei0r2">
    <include file="$(find frei0r_image)/launch/single.launch" >
      <arg name="image_in0" default="/frei0r1/image_out" />
      <arg name="image_in1" default="/frei0r0/image_out" />
      <arg name="image_in2" default="image_in2" />
      <arg name="image_out" default="image_out" />
    </include>
  </group>

  <!-- TODO(lucasw) launch rqt -->
  <node name="rqt_traj" pkg="rqt_gui" type="rqt_gui"
    args="--perspective-file $(find frei0r_image)/config/frei0r.perspective"
    output="screen" >
  </node>
</launch>
