<?xml version="1.0" encoding="ISO-8859-1"?>
<launch>
  <arg name="device" default="0" />
  <arg name="config_dir" default="$(find frei0r_image)/config" />

  <node pkg="image_publisher" type="image_publisher"
    name="image_pub"
    args="$(find vimjay)/data/clouds.png"
    if="false" >
    <param name="publish_rate" value="5.0"/>
  </node>

  <node name="image_source" pkg="usb_cam" type="usb_cam_node"
      if="false"
      output="screen">
    <param name="image_width" value="320"/>
    <param name="image_height" value="240"/>
    <param name="framerate" value="30"/>
    <param name="video_device" value="/dev/video$(arg device)" />
    <!--param name="pixel_format" value="mjpeg" /-->
    <param name="pixel_format" value="yuyv"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="manager" args="manager"
    output="screen"/>

  <node name="mix_images" pkg="nodelet" type="nodelet"
    args="load image_manip/IIRImage /manager"
    output="screen" >
    <rosparam param="b_coeffs">[1.0, 0.1, 0.1, 0.1, 0.1]</rosparam>
    <param name="use_time_sequence" value="false" />
    <remap from="image_0" to="/frei0r0/image_out" />
    <remap from="image_1" to="/image_source/image_raw" />
    <remap from="image_2" to="/rotozoom/image_out" />
    <remap from="image_3" to="/frei0r1/image_out" />
    <remap from="image_4" to="/frei0r2/image_out" />
    <remap from="image_out" to="/mix/image" />
  </node>

  <group ns="frei0r0">
    <include file="$(find frei0r_image)/launch/single.launch" >
      <arg name="image_in0" value="/mix/image" />
      <arg name="image_in1" value="/frei0r2/image_out" />
      <arg name="image_in2" value="/frei0r1/image_out" />
      <arg name="image_out" value="image_out" />
      <arg name="nodelet_manager" value="/manager" />
      <arg name="config_dir" value="$(arg config_dir)" />
    </include>
  </group>
  <group ns="frei0r1">
    <include file="$(find frei0r_image)/launch/single.launch" >
      <arg name="image_in0" value="/frei0r0/image_out" />
      <arg name="image_in1" value="/frei0r2/image_out" />
      <arg name="image_in2" value="image_in2" />
      <arg name="image_out" value="image_out" />
      <arg name="nodelet_manager" value="/manager" />
      <arg name="config_dir" value="$(arg config_dir)" />
    </include>
  </group>
  <group ns="frei0r2">
    <include file="$(find frei0r_image)/launch/single.launch" >
      <arg name="image_in0" value="/frei0r1/image_out" />
      <arg name="image_in1" value="/frei0r0/image_out" />
      <arg name="image_in2" value="image_in2" />
      <arg name="image_out" value="image_out" />
      <arg name="nodelet_manager" value="/manager" />
      <arg name="config_dir" value="$(arg config_dir)" />
    </include>
  </group>

  <node pkg="nodelet" type="nodelet"
      name="roto_zoom0"
      args="load image_manip/RotoZoom /manager"
      output="screen">
    <param name="frame_rate" value="10.0"/>
    <remap from="image_in" to="/mix/image"/>
    <!-- TODO(lucasw) currently crashing if this is not published? -->
    <remap from="background_image" to="/mix/image"/>
    <remap from="image_out" to="/rotozoom/image_out"/>
  </node>

  <!-- TODO(lucasw) replace with imgui_ros -->
  <!-- launch rqt -->
  <node name="rqt_traj" pkg="rqt_gui" type="rqt_gui"
    args="--perspective-file $(find frei0r_image)/config/frei0r.perspective"
    if="false"
    output="screen" >
  </node>

  <node pkg="imgui_ros" type="imgui_ros_node"
    name="imgui_ros" output="screen" >
  </node>

  <node pkg="frei0r_image" type="demo.py" name="demo" output="screen">
  </node>

</launch>
