<?xml version="1.0" encoding="ISO-8859-1"?>
<launch>
  <arg name="width" default="1024" />
  <arg name="height" default="1024" />
  <arg name="image_in0" default="image_in0" />
  <arg name="image_in1" default="image_in1" />
  <arg name="image_in2" default="image_in2" />
  <arg name="image_out" default="image_out" />
  <arg name="nodelet_manager" default="manager" />
  <arg name="config_dir" default="$(find frei0r_image)/config" />

  <node name="frei0r" pkg="nodelet" type="nodelet"
    args="load frei0r_image/Frei0rImage $(arg nodelet_manager)"
    output="screen" >
    <!--param name="path" value="$(env HOME)/other/install/lib/frei0r-1" /-->
    <param name="width" value="$(arg width)" />
    <param name="height" value="$(arg height)" />
    <remap from="image_in0" to="$(arg image_in0)" />
    <remap from="image_in1" to="$(arg image_in1)" />
    <remap from="image_in2" to="$(arg image_in2)" />
    <remap from="image_out" to="$(arg image_out)" />
  </node>
  <node name="selector" pkg="frei0r_image" type="select_plugin"
    output="screen">
    <param name="load_from_path" value="false" />
    <rosparam command="load" file="$(arg config_dir)/source.yaml" />
    <rosparam command="load" file="$(arg config_dir)/filter.yaml" />
    <rosparam command="load" file="$(arg config_dir)/mixer2.yaml" />
    <rosparam command="load" file="$(arg config_dir)/mixer3.yaml" />
    <remap from="load_plugin" to="frei0r/load_plugin" />
  </node>
</launch>
